:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
}

nav {
    height: 5rem;
    background-color: #f3f3f3;
    font-weight: bold;
    width: 100%;
    
}

nav img {
    height: 16px;
    width: 16px;
    align-self: center;
}

.sticky { 
    background-color: rgb(255,255,255,0.7);
    position: fixed;
}

nav h1 {
    font-weight: 900;
    font-size: 2rem;
}

nav h1:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in 0.4s;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.container ul {
    display: flex;
    gap: 2rem;
}

.container ul li a {
    color: #444;
}

.container h1 {
    color:  #444;
}

.container ul li:hover {
    color: #1e3d58;
    cursor: pointer;
    border-bottom: 2px solid #1e3d58;
}


.aboutblock {
    display: flex;
    margin: 8rem auto;
    gap: 5.5rem;
    line-height: 3rem;
}

.highlight {
    background: var(--gradient-primary);
    padding: 5px;
    display: inline-block;

}


.aboutblock .img img {
    height: 60vh;
    border-radius: 50%;
    justify-self: start;
    align-self: start;
}

.aboutblock .about {
    align-self: center;
    justify-self: end;
    font-weight: bold;
    font-size: 1.8rem;
}

.tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.tech h1 {
    text-align: center;
    color: #444;
}

.tech h1::after {
    content: "======>";
    margin-left: 2rem;
    color: #444;
}

.tech ul li {
    font-weight: bold;
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 16px;
}

.tech ul li:hover {
    transform: scale(1.1);
}

.projects {
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
}

.portfolioprojects h1 {
    color: #444
}

.projects .portfolio {
    padding: 5rem;
    background-color: var(--color-primary-opacity);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    color: #444;
    height: 250px;
    width: 250px;
}


.projects .portfolio1 {
    background-image: url("images/Screenshot\ \(27\).png");
    background-position: center center;
    background-size: 200px;
}

.portfolio-hover-effect {
    background-color: #1e3d58;
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    transition: 1s;
    
}



.projects .portfolio2 {
    background-image: url("images/Screenshot\ \(20\).png");
    background-position: center center;
    background-size: 200px;
}

.projects .portfolio3 {
    background-image: url("images/Screenshot\ \(22\).png");
    background-position: center center;
    background-size:  15rem;
}

.projects .portfolio4 {
    background-image: url("images/Screenshot\ \(24\).png");
    background-position: center center;
    background-size: 200px;
}



.projects .portfolio a {
    color: var(--color-secondary);
}


.portfolioprojects {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}

.contact {
    width: 100%;
    margin-top: 5rem;
    /* background-image: linear-gradient(3deg, #95b8d1, #b8e0d4, #d6eadf,#eac4d5); */
    background-color:rgb(0,0,0, 0.2);
    padding: 2rem;
    background-attachment: fixed;
    border-radius: 1.5rem;
}

.contact h1 {
    text-align: center;
    color: #444;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
}

form div {
    display: flex;
    gap: 2rem;
    color: #444
}

form div label {
    width: 25%;
    font-weight: bold;
}

form div input,
form div textarea {
    width: 75%;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 5px;
}

form div button {
    width: 30%;
    padding: 5px;
    font-weight: bold;
    margin: 0 auto;
    background: var(--gradient-primary);
    border-style: none;
    border-radius: 5px;
    color: #444;
}

form button:hover {
    cursor: pointer;
    background: blue;
    color: white;
}


form textarea {
    resize: none;
}

.socials {
    width: 30%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}



.socials img {
    width: 50px;
}

.socials img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in 0.1s;
}

footer {
    background-color: #37383d;
    margin-top: 5rem;
}

/* slider */
/* 
.slider {
    height: 300px;
    position: relative;
    margin: 5rem auto;
    width: 100%;
    background-color: #057dcd;
    transform: scale(0.5);
    overflow: hidden;
}

.slide {
    height: 300px;
    width: 100%;
    background-color: black;
    position: absolute;
    transition: 1s;

}

.slide1 {
    background-color: pink;
}

.slide2 {
    background-color: lightblue;
}

.slide3 {
    background-color: blue;
}

.btn-slide {
    font-size: 2rem;
    position: absolute;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 30%;
    width: 5%
}

.btn-slide-left {
    left: 0%;
}

.btn-slide-right {
    right: 0%
} */

.hidden {
    visibility: hidden;
}

#msg {
    color: #39b385;
    font-weight: bold;
    font-size: 1.4rem;
}

nav img {
    display: none;
}

@media(max-width: 1000px) {
    nav h1 {
        text-align: center;
    }

    nav img {
        display: block;
    }

    nav ul {
        background: #39b385;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding: 50px;
        flex-direction: column;
        z-index: 2;
    }

    nav ul img {
        position: absolute;
        top: 1.5rem;
        right: 8rem;
        cursor: pointer;
    }

    .container .aboutblock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tech {
        display: block;
    }

    .tech ul {
        display: block;
    }

    .tech ul li {
        margin-top: 1rem;
        text-align: center;
    }

    .tech h1::after {
        content: "";
    }

    .tech h1 {
        text-align: center;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .contact form {
        padding: 0;
        width: 100%;
    }

    .contact h1 {
        margin-bottom: 2rem;
    }
} 